<div id="member-show">
  <label>Name:</label><%= @member_full_deets["first_name"] + " " + @member_full_deets["last_name"] %><br>
  <label>State</label><%= @member_full_deets["state"] %><br>
  <label>Party</label><%= @member_full_deets["party"] %><br>
  <label>District</label><%= @member_full_deets["district"] %><br>
  <label>Phone</label><%= @member_full_deets["phone"] %><br>
  <label>House Profile</label><%= @member_full_deets["url"] %><br>
</div>
