<form class="" action="index.html" method="post">
  <p> <%= @quiz.question_1 %></p>
  <!-- <br><br> -->
  <label>Answer 1:</label>
  <select name="response[:response_1]">
    <option value="Strongly Agree">Strongly Agree</option>
    <option value="Agree">Agree</option>
    <option value="Disagree">Disagree</option>
    <option value="Strongly Disagree">Strongly Disagree</option>
  </select>
  <br><br>
  <p> <%= @quiz.question_2 %></p>
  <!-- <br><br> -->
  <label>Answer 2:</label>
  <select name="response[:response_2]">
    <option value="Strongly Agree">Strongly Agree</option>
    <option value="Agree">Agree</option>
    <option value="Disagree">Disagree</option>
    <option value="Strongly Disagree">Strongly Disagree</option>
  </select>
  <br><br>
  <p> <%= @quiz.question_3 %></p>
  <!-- <br><br> -->
  <label>Answer 3:</label>
  <select name="response[:response_3]">
    <option value="Strongly Agree">Strongly Agree</option>
    <option value="Agree">Agree</option>
    <option value="Disagree">Disagree</option>
    <option value="Strongly Disagree">Strongly Disagree</option>
  </select>
  <br><br>
  <p> <%= @quiz.question_4 %></p>
  <!-- <br><br> -->
  <label>Answer 4:</label>
  <select name="response[:response_4]">
    <option value="Strongly Agree">Strongly Agree</option>
    <option value="Agree">Agree</option>
    <option value="Disagree">Disagree</option>
    <option value="Strongly Disagree">Strongly Disagree</option>
  </select>
  <br><br>
  <p> <%= @quiz.question_5 %></p>
  <!-- <br><br> -->
  <label>Answer 5:</label>
  <select name="response[:response_5]">
    <option value="Strongly Agree">Strongly Agree</option>
    <option value="Agree">Agree</option>
    <option value="Disagree">Disagree</option>
    <option value="Strongly Disagree">Strongly Disagree</option>
  </select>
  <br><br>
  <input type="submit" name="submit" value="Submit Quiz">
</form>
